<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery.autocomplete.js}" type="text/javascript"></script>
    <link rel="text/css" th:href="@{/css/autocomplete.min.css}">
    <script th:src="@{/js/bootstrap-select.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}">
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <meta charset="UTF-8">
    <title>设备列表</title>
</head>
<body>
<div th:insert="xj::nav"></div>
<div class="container-fluid">
    <div class="row">
        <div th:insert="xj::menu"></div>
        <div class="col-md-10">
            <div class="col-md-8">
                <table class="table table-hover table-condensed table-bordered">
                    <legend>
                        <strong>设备列表</strong>
                        <span><a class="btn" href="/addDevice" role="button">新增设备</a></span>
                    </legend>

                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>站名</th>
                        <th>设备名称</th>
                        <th>设备类型</th>
                        <th>正/侧线</th>
                        <th>天窗</th>
                        <th>管辖单位</th>
                        <th>检修条件</th>
                    </tr>
                    </thead>
                    <tr th:each="p:${devices.list}">
                        <th scope="row" th:text="${p.id}"></th>
                        <td th:text="${p.zname}"></td>
                        <td>
                            <a href="#" th:href="@{/deviceEdit/{id}(id=${p.id})}" th:text="${p.sbName}"> </a>
                        </td>
                        <td th:text="${p.sbType}"></td>
                        <td th:text="${p.xb}"></td>
                        <td th:text="${p.tc}"></td>
                        <td th:text="${p.gxdw}"></td>
                        <td th:text="${p.jxCondiction}"></td>
                        <td><a class="btn btn-danger" th:href="@{/deviceDelete/{id}(id=${p.id})}">删除</a></td>
                    </tr>
                </table>

                <ul class="pagination">
                    <li class="page-item"><a class="page-link"><span th:text="第+${devices.pageNum}+页"></span></a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/devices}">首页</a></li>
                    <th:block th:each="num:${devices.navigatepageNums}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{/devices(pageNum=${num})}"
                               th:text="${num}">

                            </a></li>
                    </th:block>
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/devices(pageNum=${devices.nextPage})}">Next</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>


</body>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#device').addClass("active")
        }
    )
</script>
</html>